<launch>
  <arg name="gui" default="false" />
  <arg name="look" default="true" />  

  <!-- <arg name="input_camera_info" value="/kinect_head/rgb/camera_info" /> -->
  <!-- <arg name="input_rgb_image" value="/kinect_head/rgb/image_rect_color" /> -->
  <!-- <arg name="input_depth_image" value="/kinect_head/depth_registered/hw_registered/image_rect" /> -->
  <!-- <arg name="input_pose_array" value="/edgetpu_human_pose_estimator/output/poses" /> -->
  
  <!-- <include file="$(find jsk_perception)/launch/hand_pose_estimation_2d.launch" > -->
  <!--   <arg name="INPUT_IMAGE" value="$(arg input_rgb_image)" /> -->
  <!--   <arg name="INPUT_DEPTH_IMAGE" value="$(arg input_depth_image)" /> -->
  <!--   <arg name="INPUT_CAMERA_INFO" value="$(arg input_camera_info)" /> -->
  <!--   <arg name="with_depth" value="true" /> -->
  <!--   <arg name="gui" value="false" /> -->
  <!-- </include> -->
  
  <!-- <include file="$(find virtual_force_publisher)/launch/dualarm_virtual_force_publisher.launch" /> -->

  <group ns="left_endeffector" >
    <node name="transform_wrench"
          pkg="jsk_topic_tools" type="transform_wrench.py"
          output="screen" >
      <remap from="~input" to="wrench" />
      <remap from="~output" to="wrench_transformed" />
      <rosparam>
        target_frame_id: base_footprint
      </rosparam>
    </node>
  </group>

  <group ns="right_endeffector" >
    <node name="transform_wrench"
          pkg="jsk_topic_tools" type="transform_wrench.py"
          output="screen" >
      <remap from="~input" to="wrench" />
      <remap from="~output" to="wrench_transformed" />
      <rosparam>
        target_frame_id: base_footprint
      </rosparam>
    </node>
  </group>

  <node pkg="roseus" type="roseus" name="pull_arm" output="screen"
        args="$(find virtual_force_drag)/euslisp/pr2-pull-arm.l"  />

  <group if="$(arg look)" >
    <node pkg="roseus" type="roseus" name="head_look_at" output="screen"
          args="$(find virtual_force_drag)/euslisp/pr2-head-look-at.l"  />
  </group>

  <group if="$(arg gui)" >
    <node name="rviz"
          pkg="rviz" type="rviz"
          args="-d $(find hand_navigation_pr2)/sample/config/wrench_transform.rviz">
    </node>
  </group>

</launch>
