<launch>
  <arg name="gui" default="false" />
  <arg name="larm" default="true" />
  <arg name="look" default="true" />    

  <arg if="$(arg larm)" name="target_arm" value="larm" />
  <arg unless="$(arg larm)" name="target_arm" value="rarm" />
  <arg if="$(arg larm)" name="wrench_topic" value="/left_endeffector/wrench_transformed" />
  <arg unless="$(arg larm)" name="wrench_topic" value="/right_endeffector/wrench_transformed" />
  
  <!-- <include file="$(find virtual_force_publisher)/launch/dualarm_virtual_force_publisher.launch" /> -->

  <group ns="left_endeffector" >
    <node name="transform_wrench"
          pkg="teach_spot" type="transform_wrench.py"
          output="screen" >
      <remap from="~input" to="wrench" />
      <remap from="~output" to="wrench_transformed" />
      <rosparam>
        target_frame_id: base_footprint
      </rosparam>
    </node>
  </group>

  <group ns="right_endeffector" >
    <node name="transform_wrench"
          pkg="teach_spot" type="transform_wrench.py"
          output="screen" >
      <remap from="~input" to="wrench" />
      <remap from="~output" to="wrench_transformed" />
      <rosparam>
        target_frame_id: base_footprint
      </rosparam>
    </node>
  </group>

  <node pkg="roseus" type="roseus" name="pull_arm"
        args="$(find virtual_force_drag)/euslisp/pull-arm.l"
        output="screen">
    <rosparam subst_value="true">
      robot: pr2
      target_arm: $(arg target_arm)
      vel_topic: /base_controller/cmd_vel
      wrench_topic: $(arg wrench_topic)
      joint_topic: /joint_states
      input_file: $(find virtual_force_drag)/pr2_pull_arm.yaml
    </rosparam>
  </node>

  <group if="$(arg look)" >
    <node pkg="roseus" type="roseus" name="look"
          args="$(find virtual_force_drag)/euslisp/look.l" >
      <rosparam subst_value="true">
        robot: pr2
        target_arm: $(arg target_arm)
        wrench_topic: $(arg wrench_topic)
        input_file: $(find virtual_force_drag)/pr_pull_arm.yaml
      </rosparam>
    </node>
  </group>
  
  <group if="$(arg gui)" >
    <node name="rviz"
          pkg="rviz" type="rviz"
          args="-d $(find hand_navigation_pr2)/sample/config/wrench_transform.rviz">
    </node>
  </group>

</launch>
